


 .chat-container{
    padding-top: 15px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 72vh;
    overflow-y: scroll;
 }
 .chat-container::-webkit-scrollbar{
    display: none;
}
 .chat-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
 }
.user-style{
    color:aliceblue;
    justify-content: flex-end;
}
.ai-style{
    color: aliceblue;
    justify-content: flex-start;
}
.user-style img{
    width: 32px;
    height: 32px;
}
.ai-style img{
     width: 32px;
    height: 32px;
}
.chat-bubble{
    display: flex;
    align-items: start;
    padding: 5px;
    gap: 10px;
}
.chat-bubble span{
    color: aliceblue;
}
.chat-bubble p{
    background-color: rgba(67, 4, 4, 0.908);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
}
.user-bubble{
    flex-direction: row;
}
.ai-bubble{
    flex-direction: row-reverse;
}
