.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #585858;
}
.main .nav p{
    font-size: 20px;
    color: rgb(147, 3, 3);
    cursor: pointer;
}
.main .nav img{
    width: 45px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c4c5;
    font-weight: 500;
    padding: 20px;
}
.main .greet span{
    background: -webkit-linear-gradient(16deg,#8f0000,#7d7b7b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}
.cards .card{
    height: 200px;
    padding: 15px;
    background-color: #450505;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.main .card .card-icons{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: rgb(162, 162, 162);
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    color: rgb(88, 10, 10);
}
.main .card p{
    color: #c9bcbc;
    font-size: 17px;
}
.main .card:hover{
    background-color: #7c0202;
}



@media(max-width:600px){
    .main-bottom input{
        flex:none;
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .main-bottom .mic{
        width: 25px;
    }
    .main-bottom .send{
        width: 18px;
    }
    .search-box{
        padding: 2px 10px;
    }
    .search-box div{
        gap: 5px;
    }
}