.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #585858;
}
.main .nav p{
    font-size: 20px;
    color: rgb(147, 3, 3);
    cursor: pointer;
}
.main .nav img{
    width: 45px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-one{
    display: flex;
    align-items: center;
    gap: 15px;
}
.menu-logo{
    font-size: 20px;
    color: #6f0404;
    cursor: pointer;
    display: none;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c4c5;
    font-weight: 500;
    padding: 20px;
}
.main .greet span{
    background: -webkit-linear-gradient(16deg,#8f0000,#7d7b7b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}
.cards .card{
    height: 200px;
    padding: 15px;
    background-color: #450505;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.main .card .card-icons{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: rgb(162, 162, 162);
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    color: rgb(88, 10, 10);
}
.main .card p{
    color: #c9bcbc;
    font-size: 17px;
}
.main .card:hover{
    background-color: #7c0202;
}

.sidebar-mobile{
    position: absolute;
    top: 70px;
    left: 0;
    width: 250px;
    max-width: 250px;
    background-color: #000000;
    height: calc(100vh - 70px);
    z-index: 1000;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-mobile-new-chat{
    width: 100%;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 5px 15px;
    background-color: #560909;
    border-radius: 50px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.sidebar-mobile-new-chat:hover{
      background-color: #440303;
}
.sidebar-mobile-new-chat .sidebar-mobile-plus-icon{
    font-size: 1.3rem;
    color: rgb(251, 251, 251);
    margin-right: 5px;
    padding: 5px;
}
.sidebar-mobile-recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}
.sidebar-mobile-recent-tittle{
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 1px;
    color: rgb(136, 9, 9);
}
.sidebar-mobile-recent-entry{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    padding-right: 10px;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
}
.sidebar-mobile-recent-entry:hover{
    background-color: #6a1212;
}
.sidebar-mobile-recent-entry-bottom{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 10px;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
}
.sidebar-mobile-bottom-item:hover{
        background-color: #6a1212;
}
.sidebar-mobile-recent-entry2{
    display: flex;
    gap: 10px;
    align-items: center;
}
.sidebar-mobile-trash-icon:hover{
    color: #000000;
}

.sidebar-mobile-bottom{
    display: flex;
    flex-direction: column;
}
.sidebar-mobile-bottom-item{
    padding-right: 10px;
    cursor: pointer;
}
.sidebar-mobile-recent-entry p{
    color: white;
}
.sidebar-mobile-bottom img{
    width: 25px;
}

.sidebar-mobile .sidebar-mobile-no-recent-chats{
    color: rgb(147, 147, 147);
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}


@media(max-width:600px){
    .menu-logo{
        display: block;
    }
    .main-bottom input{
        flex:none;
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .main-bottom .mic{
        width: 25px;
    }
    .main-bottom .send{
        width: 18px;
    }
    .search-box{
        padding: 2px 10px;
    }
    .search-box div{
        gap: 5px;
    }
}